################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64/Debug
/TheCorners/x64/Debug
/TheCorners/Dependencies/SFML-2.5.1-windows-vc15-64-bit.zip
